div.upvote {
    text-align: center;
}

div.upvote a {
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 41px;
    height: 25px;
    font-size: 1.5rem;
    cursor: pointer;
}

div.upvote span.count {
    display: block;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Liberation, Sans, DejaVu Sans, sans-serif;
    color: #555;
    margin: 0.15rem 0
}

div.upvote a.upvote {
    margin: auto;
}

div.upvote a.downvote {
    margin: auto;
}