{{ range .}}
<div class="row vertical-align-top catalogue-item-wrapper">
    <div class="col-sm-1">
        <div id=article-{{.ID}} class="upvote" onclick="upVote(this, {{.ID}})">
            <a class="upvote" >
                <span class="glyphicon glyphicon-arrow-up"></span>
            </a>
            <span id="article-vote-count-{{.ID}}" class="count">{{.VoteCount}}</span>
        </div>
    </div>
    <div class="col-sm-11">
        <a href="/articles/{{.ID}}/details" class="catalogue-item">
            <div>
                <div>
                    <span class="catalogue-title">{{.Title}}</span>
                    <span class="catalogue-time">{{shortDate .LastUpdate}}</span>
                </div>
                <div class="catalogue-content">
                    {{htmlNoEscape .Content }}
                </div>
            </div>
        </a>
    </div>
</div>
{{ else }}
<h1>No post found</h1>
{{ end }}

<link rel="stylesheet" href="/templates/articles/list/list.css">
<script src="/templates/articles/list/list.js"></script>