*{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  line-height:1.5
}
.abs-center-x {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
html,body{
  color:#555;
  margin:0;
  padding:0
}
html{
  font-family:"Libre Baskerville","Times New Roman",Times,serif;
  font-size:16px;
  overflow-y:scroll
}
@media (min-width: 600px){
  html{
      font-size:16px
  }
}
body{
  -webkit-text-size-adjust:100%
}
h1,h2,h3,h4,h5,h6{
  color:#353535;
  font-family:"Helvetica Neue","Segoe UI",Helvetica,Arial,sans-serif;
  line-height:normal
}
a{
  color:#4a9ae1;
  text-decoration:none
}
blockquote{
  border-left:0.25rem solid #e5e5e5;
  color:#979797;
  margin:.8rem 0;
  padding:.5rem 1rem
}
blockquote p:last-child{
  margin-bottom:0
}
@media (min-width: 600px){
  blockquote{
      padding:0 5rem 0 1.25rem
  }
}
img{
  display:block;
  margin:0 0 1rem;
  max-width:100%
}
td{
  vertical-align:top
}
pre,code{
  font-family:Menlo,Monaco,monospace
}
code{
  background-color:#f9f9f9;
  border-radius:3px;
  color:#bf616a;
  font-size:85%;
  padding:.25em .5em
}
pre{
  margin:0 0 1rem
}
pre code{
  background-color:transparent;
  color:inherit;
  font-size:100%;
  padding:0
}
.highlight{
  background-color:#f9f9f9;
  border-radius:3px;
  line-height:1.4;
  margin:0 0 1rem;
  padding:1rem
}
.highlight pre{
  margin-bottom:0;
  overflow-x:auto
}
.highlight .lineno{
  color:#aaa;
  display:inline-block;
  padding:0 .75rem 0 .25rem;
  -webkit-user-select:none;
  -moz-user-select:none;
  user-select:none
}
.post{
  padding:3rem 0
}
.post-info{
  color:#aaa;
  font-family:Palatino,"Palatino LT STD","Palatino Linotype","Book Antiqua","Georgia",serif;
  letter-spacing:0.5px;
  text-align:left
}
.post-info span{
  font-style:italic
}
.post-title{
  color:#353535;
  font-family:"Helvetica Neue","Segoe UI",Helvetica,Arial,sans-serif;
  font-size:4rem;
  margin:1rem 0;
  text-align:left
}
.post-line{
  border-top:0.4rem solid #520d0d;
  display:block;
  margin:0 0 3rem;
  width:4rem;
  text-align: left
}
.post p{
  margin:0 0 1rem;
  text-align:justify
}
.post a:hover{
  text-decoration:underline
}
.post img{
  margin:0 auto 0.5rem
}
.post img+em{
  color:#aaa;
  display:block;
  font-family:"Helvetica Neue","Segoe UI",Helvetica,Arial,sans-serif;
  font-size:0.9rem;
  font-style:normal;
  text-align:center
}
.post img.emoji{
  display:inline-block;
  left:0;
  transform:none;
  width:1rem;
  height:1rem;
  vertical-align:text-top;
  padding:0;
  margin:0
}

.catalogue-item{
  border-bottom:1px solid #e5e5e5;
  color:#555;
  display:inline-block;
  padding:2rem 0
}
.catalogue-item:hover {
  text-decoration: none;
  color:#555;
}

.catalogue-item:hover .catalogue-line,.catalogue-item:focus .catalogue-line{
  width:5rem
}
.catalogue-item:last-child{
  border:0
}
.catalogue-time{
  color:#aaa;
  font-family:Palatino,"Palatino LT STD","Palatino Linotype","Book Antiqua","Georgia",serif;
  letter-spacing:.5px
}
.catalogue-title{
  color:#353535;
  display:block;
  font-family:"Helvetica Neue","Segoe UI",Helvetica,Arial,sans-serif;
  font-size:2rem;
  font-weight:700;
  margin:.5rem 0
}
.catalogue-line{
  -webkit-transition:all 0.3s ease-out;
  -moz-transition:all 0.3s ease-out;
  transition:all 0.3s ease-out;
  border-top:0.2rem solid #353535;
  display:block;
  width:2rem
}
