<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script src="https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/latest/styles/github.min.css">

<div class="article-new">
    <form>
        <input type="hidden" id="id" name="id" value="{{.ID}}">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="title" class="form-control" id="title" name="title" aria-describedby="title" value="{{.Title}}">
        </div>
        <div class="form-group">
            <label for="markdown">Content</label>
            <textarea id="markdown" name="markdown" class="form-control"></textarea>
        </div>
        <button type="button" id="btnUpdate" class="btn btn-primary">Update Now</button>
    </form>    
</div>

<script>
    var simplemde = new SimpleMDE({ 
            element: $("#markdown")[0],
            renderingConfig: {
                singleLineBreaks: false,
                codeSyntaxHighlighting: true,
            },
        });
    simplemde.value("{{.Markdown}}")
    $( "#btnUpdate" ).click(function() {
        htmlValue = simplemde.markdown(simplemde.value())
        article = {
            ID: $("#id").val(),
            Title: $("#title").val(),
            Content: htmlValue,
            Markdown: simplemde.value(),
        }
        $.ajax({
            type: "PUT",
            url: "/api/v1/articles/" + article.ID,
            data: JSON.stringify(article),
            contentType: "application/json; charset=utf-8",
            crossDomain: true,
            dataType: "json",
            success: function (data, status, jqXHR) {
                $(location).attr('href', '/articles/'+data.ID + "/details")
            },
            error: function (jqXHR, status) {
                alert('fail' + status.code);
            }
        });
    });
</script>