{{ range .}}
<div class="row vertical-align-top catalogue-item-wrapper">
    <div class="col-sm-1">
        <div id=article-{{.ID}} class="upvote" onclick="upVote(this, {{.ID}})">
            <a class="upvote" >
                <span class="glyphicon glyphicon-arrow-up"></span>
            </a>
            <span id=article-vote-count-{{.ID}} class="count">{{.VoteCount}}</span>
        </div>
    </div>
    <div class="col-sm-11">
        <a href=/articles/details/{{.ID}} class="catalogue-item">
            <div>
                <div>
                    <span class="catalogue-title">{{.Title}}</span>
                    <span class="catalogue-time">{{shortDate .LastUpdate}}</span>
                </div>
                <div class="catalogue-content">
                    {{htmlNoEscape .Content }}
                </div>
            </div>
        </a>
    </div>
</div>
{{ else }}
<h1>No post found</h1>
{{ end }}

<link rel="stylesheet" href="../static/js/upvote/upvote.css">

<script>
    function upVote(el, id) {
        $.ajax({
            type: "POST",
            url: "/api/v1/articles/"+id+"/vote",
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            success: function (data, status, jqXHR) {
                el.querySelector("#article-vote-count-" +id).innerHTML=data.count;
            },
            error: function (jqXHR, status) {
                alert('Oooops: fail to vote: ' + status.code);
            }
        });
    }
</script>