<div class="row">
    <div class="col-md-2"></div>
    <div class="catalogue col-md-8">  
        {{ range .}}
        <div class="row vertical-align-top catalogue-item-wrapper">
            <div class="col-sm-1">
                <div id="topic" class="upvote">
                    <a class="upvote">
                        <span class="glyphicon glyphicon-arrow-up"></span>
                    </a>
                    <span class="count">64.5K</span>
                    <a class="downvote">
                        <span class="glyphicon glyphicon-arrow-down"></span>
                    </a>
                </div>
            </div>
            <div class="col-sm-11">
                <a href=/posts/details/{{.ID}} class="catalogue-item">
                    <div>
                        <div>
                            <span class="catalogue-title">{{.Title}}</span>
                            <span class="catalogue-time">{{.LastUpdate}}</span>
                        </div>
                        <div class="catalogue-content">
                            {{htmlNoEscape .Content }}
                        </div>
                  </div>
                </a>
            </div>
        </div>
        {{ else }}
        <h1>No post found</h1>
        {{ end }}
    </div>
    <div class="col-md-2"></div>
</div>

<link rel="stylesheet" href="../static/js/upvote/upvote.css">

<script>
    
</script>