<link rel="stylesheet" href="/templates/articles/details/details.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/latest/styles/github.min.css">
<div>
    <div class="hidden-sm col-md-1"></div>
    <div class="catalogue col-md-10 col-sm-12 post-catalogue">
        <div class="post">
            <div class="post-info">
                <span>Written by&nbsp;</span>{{.CreatedBy}}
                <span>&nbsp;&nbsp;</span><time datetime="Aug 20, 2018">{{shortDate .LastUpdate}}</time>
                {{if .IsMine}}
                <div class="pull-right">
                    <a href="/articles/{{.ID}}/edit" class="glyphicon glyphicon-edit text-info" style="font-size:1.5rem"></a>
                    &nbsp;
                    <a href="#" onclick="deleteArticle({{.ID}})" class="glyphicon glyphicon-remove text-danger" style="font-size:1.5rem"></a>
                </div>
                {{end}}
            </div>
            <h1 class="post-title">{{.Title}}</h1>
            <div class="post-line"></div>
            <div>
                {{htmlNoEscape .Content}}
            </div>
            <hr>
            <div id="comments-container">

            </div>
        </div>
    </div>
    <div class="hidden-sm col-md-1"></div>
</div>

<script src="/templates/articles/details/details.js"></script>
<link rel="stylesheet" type="text/css" href="/templates/articles/details/plugins/jquery-comments.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<script type="text/javascript" src="/templates/articles/details/plugins/jquery-comments.min.js"></script>
<script>
    setTitle('Little Bird: ' + "{{.Title}}")
    $('#comments-container').comments({
        profilePictureURL: "",
        getComments: function(success, error) {
            $.ajax({
                type: 'get',
                url: '/api/v1/articles/{{.ID}}/comments',
                dataType: 'json',
                success: function(data) {
                    if (data == null) {
                        success([])
                        return
                    }
                    console.log(data)
                    success(data)
                },
                error: error
            });
        },
        postComment: function(commentJSON, success, error) {
            var userID = getCookie("_user_id");
            if (userID == "") {
                $(location).attr('href', getCookie("_login_url"))
                return
            }
            commentJSON.article_id = "{{.ID}}";
            commentJSON.articleID = "{{.ID}}";
            commentJSON.fullname = getCookie("_user_name")
            $.ajax({
                type: 'post',
                url: '/api/v1/comments',
                data: JSON.stringify(commentJSON),
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                success: function(res) {
                    commentJSON.id=res.id
                    success(commentJSON)
                },
                error: error
            });
        },
        putComment: function(commentJSON, success, error) {
            var userID = getCookie("_user_id");
            if (userID == "") {
                $(location).attr('href', getCookie("_login_url"))
                return
            }
            $.ajax({
                type: 'put',
                url: '/api/v1/comments/' + commentJSON.id,
                data: commentJSON,
                dataType: 'json',
                success: function(comment) {
                    success(comment)
                },
                error: error
            });
        },
        deleteComment: function(commentJSON, success, error) {
            var userID = getCookie("_user_id");
            if (userID == "") {
                $(location).attr('href', getCookie("_login_url"))
                return
            }
            $.ajax({
                type: 'delete',
                url: '/api/v1/comments/' + commentJSON.id,
                dataType: 'json',
                success: success(),
                error: error
            });
        },
    });
</script>
