<div>
    <div class="hidden-xs col-md-1"></div>
    <div class="catalogue col-md-10">  
        <div class="post">
            <div class="post-info">
                <span>Written by&nbsp;</span>{{.CreatedBy}}
                <span>&nbsp;&nbsp;</span><time datetime="Aug 20, 2018">{{shortDate .LastUpdate}}</time>
                {{if .IsMine}}
                <div class="pull-right">
                    <a href="/articles/{{.ID}}/edit" class="glyphicon glyphicon-edit text-info" style="font-size:1.5rem"></a>
                    &nbsp;
                    <a href="#" onclick="deleteArticle({{.ID}})" class="glyphicon glyphicon-remove text-danger" style="font-size:1.5rem"></a>
                </div>
                {{end}}
            </div>
            <h1 class="post-title">{{.Title}}</h1>
            <div class="post-line"></div>
            <div>
                {{htmlNoEscape .Content}}
            </div>
        </div>
    </div>
    <div class="hidden-xs col-md-1"></div>
</div>

<link rel="stylesheet" href="/templates/articles/details/details.css">
<script src="/templates/articles/details/details.js"></script>

<script>
    setTitle('Little Bird: ' + {{.Title}})
</script>